<section class="team" >
  <div class="team__container" data-aos="fade-right"
  data-aos-offset="350"
  data-aos-easing="ease-in-sine">
    <figure class="team__figure">
      <img src="../../../assets/nuestro-equipo.jpg" alt="" class="team__img">
    </figure>
    <div class="team__info">
      <h2 class="team__title">Nuestro Equipo</h2>
      <p class="team__paragraph">Equipo con amplia experiencia en el rubro. Asesoría personalizada. Envío de nuestras seleccionadas. Asesoría en la propuesta de valor para los clientes.</p>
    </div>
  </div>
  
</section>
