<footer class="footer">
  <div class="footer__container container">
    <div class="footer__redesSociales">
      <figure class="footer__figure">
        <img src="../../../assets/Proyecta-icon.svg" alt="proyecta logo" class="footer__img">
      </figure>
      <div class="footer__redesSocialesIconos footer__redesSocialesIconos--ocultar--movil">
        <figure class="footer__redesSocialesFigure">
          <img src="../../../assets/whatsap.svg" alt="">
        </figure>
        <figure class="footer__redesSocialesFigure">
          <img src="../../../assets/lk.svg" alt="">
        </figure>
        <figure class="footer__redesSocialesFigure">
          <img src="../../../assets/ig.svg" alt="">
        </figure>
        <figure class="footer__redesSocialesFigure">
          <img src="../../../assets/fb.svg" alt="">
        </figure>
      </div>
    </div>

    <div class="footer__infoRedes">
      <div class="footer__infoRed">
        <i class="bx bxs-phone-call"></i> <p>01 613-7979</p>
      </div>
      <div class="footer__infoRed">
        <i class="bx bxs-envelope"></i> 
        <p>
      contactoproyecta@cassinelli.com
        </p>
      </div>
      <div class="footer__infoRed">
        <i class='bx bxs-home'></i> <p>www.proyecta-cassinelli.com</p>
      </div>
      <div class="footer__infoRed">
        <i class="bx bx-map"></i> <p>Av. República de Panamá 4495,</p>
      </div>
    </div>
    <div class="footer__redesSocialesIconos footer__redesSocialesIconos--ocultar--destok">
      <figure class="footer__redesSocialesFigure">
        <img src="../../../assets/whatsap.svg" alt="">
      </figure>
      <figure class="footer__redesSocialesFigure">
        <img src="../../../assets/lk.svg" alt="">
      </figure>
      <figure class="footer__redesSocialesFigure">
        <img src="../../../assets/ig.svg" alt="">
      </figure>
      <figure class="footer__redesSocialesFigure">
        <img src="../../../assets/fb.svg" alt="">
      </figure>
    </div>
  </div>
  </footer>
