<section class="hero" id="nosotros">
  <div class="hero__container container">
    <div class="hero__info animate__animated animate__fadeInLeft" >
      <figure class="hero__figureIcon">
        <img src="../../../assets/Proyecta-icon.svg" alt="proyecta by cassinelli"  class="hero__imgIcon"/>
      </figure>
      <p class="hero__paragraph">
        Somos la división especializada en atender proyectos B2B en Cassinelli.
        <br /><br />
        Nuestra misión es brindar un servicio personalizado que permite a
        arquitectos, ingenieros y grandes constructoras culminar sus proyectos
        con productos en tendencia y de calidad
      </p>
      <figure class="hero__figureMovil">
        <img src="../../../assets/profesionale- trabajando-movil.svg" alt="proyecta profesionales trabajando" class="hero__imgMovil"/>
      </figure>

      <a href="https://drive.google.com/file/d/1MUMVShi3gKhaX1hL-gUEojJ0pwCncdIY/view" target="_blank" class="btn-proyecta">Descargar Brochure</a>
    </div>
    <figure class="hero__figureDestok animate__animated animate__fadeInDown" >
      <img src="../../../assets/profesionales trabajando destok.svg" alt="proyecta profesionales trabajando"  class="hero__imgDestok"/>
    </figure>
  </div>
</section>
